async==0.6.2
async-lru==1.0.2
certifi==2021.10.8
charset-normalizer==2.0.12
config==0.5.1
Events==0.4
idna==3.3
pyaes==1.6.1
pyasn1==0.4.8
Pyrogram==1.0.7
PySocks==1.7.1
requests==2.27.1
rsa==4.8
sync==1.0.0
Telethon==1.24.0
TgCrypto==1.2.3
urllib3==1.26.8